.board {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  min-width: 400px;

  /* background-color: #9caa84; */
  background-color: #cccccc;
  object-fit: fill;
}

.game_board {
  display: flex;
  justify-content: center;
  align-items: center;

  width: min(80vw, 800px);
  height: min(58vw, 580px);

  background-image: url("../../assets/board.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.game_screen {
  display: flex;
  justify-content: center;
  align-items: center;

  width: min(35vw, 350px);
  height: min(43vw, 430px);
  background-color: #9caa84;

  box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.75);

  gap: 5px;
}

.game_msg {
  position: absolute;
  background-color: #9caa84;

  width: min(33vw, 330px);

  font-family: "Lato", sans-serif;
  font-size: clamp(1.2rem, 4vw, 2rem);
  text-align: center;
}

.cellGrid {
  width: min(20vw, 200px);
  height: min(40vw, 400px);

  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(20, 1fr);

  margin: 5px 5px 5px 5px;
  padding: 0px;
  outline: 1px solid black;
}

.game_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: min(12vw, 120px);
  height: min(40vw, 400px);

  font-size: 1.2rem;

  background-color: #9caa84;
}

.game_info > * {
  font-size: clamp(0.6rem, 2vw, 1rem);
}

.game_info > section {
  position: relative;
  width: 100%;
}

.game_info > section > article {
  font-family: "Lato", sans-serif;

  width: 100%;
  left: 0;
}

.none {
  display: grid;
  background: url("../../assets/empty.png");
  background-size: cover;
}

.block {
  display: grid;
  background: url("../../assets/fill.png");
  background-size: cover;
}

.my {
  display: grid;
  background: url("../../assets/fill.png");
  background-size: cover;
}

.number_group {
  width: 100%;
  display: flex;

  flex-direction: row;
  justify-content: flex-end;
  gap: 1px;
}

.number_group > * {
  display: flex;

  width: min(1.5vw, 15px);
  height: min(3vw, 30px);

  background: url("../../assets/2.png");
  background-size: cover;
}

.next_block_container {
  display: flex;
  justify-content: flex-end;
}

.next_block {
  width: min(6vw, 60px);
  height: min(6vw, 60px);

  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
